p{
    width: 100%;
}
body{
    display:block;
}

#select_answer{
  height: 44px;
  border: none;
  overflow: hidden;
}
#select_answer::-moz-focus-inner {
  border: 0;
}
#select_answer:focus {
  outline: none;
}
#select_answer option{
  font-size: 1.2em;
  padding: 10px 0;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border:rgb(204, 204, 0) solid 1px;
  border-radius: 5px;
  color: rgb(204, 204, 0);
}