{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/guessing_game.css')}}">

<title>Guessing Game</title>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="companion-img">
            <img src="{{url_for('static', filename='images/companion.png')}}" alt="Companion Image">
        </div>
        <div class="background"></div>
        <div class="hint-img">
            <div class="img-frame">
                <img src="{{url_for('static', filename='images/sign_up.png')}}" alt="Sign Up Image">
            </div>
        </div>
        <div class="hints">
            <div class="hint-box">
                <div class="hint-content" id="hints">
                </div>
                <input type="button" class="hint-btn" value="Another Hint" onclick="getAnotherHint();">
            </div>
            <form>
                {% for answer in answers %}
               <div class="answer-option">
                    <input type="checkbox" id="{{answer[3:]}}" name="answer" value="{{answer[3:]}}">
                    <label for="{{answer[3:]}}">{{answer[3:]}}</label>
                </div>
                {% endfor %}
                <input type="button" class="submit-btn" value="Submit Answer" onclick="submitAnswer();">
            </form>
        </div>
    </div>

    <script>
        var hints = [], index = 0;

        {% for hint in hints %}
        hints[index] = '{{hint}}';
        index += 1;
        {% endfor %}

        index = 0

        document.getElementById("demo").innerHTML = '{{correct_answer[3:]}}'

        function getAnotherHint(){
            const newHint = document.createElement("button");
            const newContent = document.createTextNode(hints[index]);
            const element = document.getElementById("hints");

            newHint.appendChild(newContent);
            newHint.classList.add("hint-content");
            element.appendChild(newHint);
            index += 1;
        }
        function submitAnswer(){
            var yourAnswer = "";
            var checkboxes = document.getElementsByName("answer");
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    yourAnswer += checkboxes[i].value + ",";
                }
            }
            if (yourAnswer !== "") {
                yourAnswer = yourAnswer.slice(0, -1);
            }
            var correct_answer = '{{correct_answer[3:]}}'
            window.location.assign("/submit_guess/" + yourAnswer + "/" + correct_answer + "/" + index)
        }
    </script>
{% endblock %}