{% extends 'base.html' %}
{% block head %}

<title>Time epochs</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{url_for('static', filename='css/game_period.css')}}">
<script src="{{url_for('static', filename='game_period.js')}}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block body %}

<button class="buttonPre" id="buttonPre">
  <a href="/sign_up"  class="buttonPre-text">PREHISTORY</a>
      <audio id="audioPre">
      <source src="/static/css/sound.mp3" type="audio/mpeg">
    </audio>
</button>

<button class="buttonAncient" id="buttonAncient">
  <a href="/sign_up" class="buttonAncient-text">ANCIENT HISTORY</a>
    <audio id="audioAncient">
      <source src="/static/css/sound.mp3" type="audio/mpeg">
    </audio>
</button>

<button class="buttonPCH" id="buttonPCH">
  <a href="/sign_up"  class="buttonPCH-text">POST-CLASSICAL HISTORY</a>
      <audio id="audioPCH">
      <source src="/static/css/sound.mp3" type="audio/mpeg">
    </audio>
</button>

<button class="buttonModern" id="buttonModern">
  <a href="/sign_up" class="buttonModern-text">MODERN HISTORY</a>
      <audio id="audioModern">
      <source src="/static/css/sound.mp3" type="audio/mpeg">
    </audio>
</button>

<div class="grid-container">
  <a href="/sign_up" class="image"><img src="{{url_for('static', filename='images/resizeP0.jpg')}}"></a>
  <a href="/sign_up" class="image"><img src="{{url_for('static', filename='images/resizeP2.0.jpg')}}"></a>
  <a href="/sign_up" class="image"><img src="{{url_for('static', filename='images/resizeP3.0.jpg')}}"></a>
  <a href="/sign_up" class="image"><img src="{{url_for('static', filename='images/resizeP4.1.jpg')}}"></a>
</div>

<script>
var buttonPre = document.getElementById("buttonPre");
var buttonAncient = document.getElementById("buttonAncient");
var buttonPCH = document.getElementById("buttonPCH");
var buttonModern = document.getElementById("buttonModern");

var audioPre = document.getElementById("audioPre");
var audioAncient = document.getElementById("audioAncient");
var audioPCH = document.getElementById("audioPCH");
var audioModern = document.getElementById("audioModern");

buttonPre.addEventListener("click", function(event) {
  event.preventDefault();
  audioPre.play();
  audioPre.addEventListener("ended", function() {
    window.location.href = buttonPre.querySelector("a").href;
  });
});

buttonAncient.addEventListener("click", function(event) {
  event.preventDefault();
  audioAncient.play();
  audioAncient.addEventListener("ended", function() {
    window.location.href = buttonAncient.querySelector("a").href;
  });
});

buttonPCH.addEventListener("click", function(event) {
  event.preventDefault();
  audioPCH.play();
  audioPCH.addEventListener("ended", function() {
    window.location.href = buttonPCH.querySelector("a").href;
  });
});

buttonModern.addEventListener("click", function(event) {
  event.preventDefault();
  audioModern.play();
  audioModern.addEventListener("ended", function() {
    window.location.href = buttonModern.querySelector("a").href;
  });
});

</script>
<style>

</style>
{% endblock %}